<style>
   
    .pokemon-search {
      box-shadow: 0 0 2px 2px #ddd;
      max-height: 55px;
      position: relative;
      z-index: 1;
    }
    .pokemon-input {
      border: 0;
      box-sizing: border-box;
      font-size: 20px;
      margin: 0;
      padding: 16px;
      width: 100%;
    }
    .pokemon-list {
      height: calc(100vh - 160px);
      overflow-x: hidden;
      /*overflow-y: scroll;*/
      position: absolute;
      width: 100%;
    }
    .pokemon-list:-webkit-scrollbar {
      width: 0 !important;
    }
    .pokemon-item {
      padding: 14px;
      text-transform: capitalize;
    }
    .pokemon-item:nth-child(2n) {
      background-color: #FAFAFA;
    }
    .pokemon-index {
      display: inline-block;
      margin-right: 24px;
      text-align: right;
      width: 48px;
    }
  </style>
  
  <main>
    <div class="pokemon-search">
      <input class="pokemon-input" placeholder="Search" ng-model="search">
    </div>
    <p class="col-md-12"> 1 - {{selectedData.length}} of {{selectedData.length}} results </p>
    <div class="col-md-11">
    <md-virtual-repeat-container class="pokemon-list" md-top-index="topIndex">
      <div class="pokemon-item" md-virtual-repeat="i in selectedData =(pokemon | filter: search)" md-item-size="20">
        <!--<span class="pokemon-index">#{{ $index }}</span>
        <span class="pokemon-name">{{ i.name }}</span>-->
         <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 listview-left">
                        <h4>{{ i.ScenarioTitle }} Value Touch Points <span ng-bind="i.IndustryVerticalName"></span></h4>
                        <p>{{ i.CustomDescription }}</p>
                        
                    </div>
                    <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-3 col-md-3 col-sm-3 col-xs-3">
                        <div class="pull-right listview-right">
                            <span class="star-rating" uib-rating ng-model="i.Rating" max="5" read-only="true" state-on="'glyphicon-star'" state-off="'glyphicon-ok-sign'"></span>
                            <h6><a href="" ng-click="vm.toggleFlyout(i,'open','Value Touch Point')"><span ng-bind="i.BookTitle"></span></a></h6>
                        </div>
                    </div>
      </div>
      </div>
    </md-virtual-repeat-container>
    </div>
  </main>