<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="">
        <span class="glyphicon glyphicon-home"></span> Angular Examples
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="" ui-sref-active="active"><a ui-sref="home">Home</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="dataExamples.example1">Data Examples</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="table.sort-pagination">Table Technique</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="bootstrap">bootstrap</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="ckeditor">ckeditor</a></li>
        <li class="" ui-sref-active="active"><a ui-sref="TinyMCE">TinyMCE Editor</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>
