<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
        <label>To Camel Case</label>
        <input type="text" ng-model="convertstring.toCamelCase" class="form-control"/>
    </div>
     <div class="col-md-12">
        <div class="well">
            <span>{{convertstring.CamelCase(convertstring.toCamelCase)}}</span>
            <span ng-click="convertstring.toCamelCase = ''" class="pull-right">Click here to Clear the input field</span>
        </div>

    </div>
  </div>
    <div class="row">
    <div class="col-md-12">
         <label>To Lower Case</label>
        <input type="text" ng-model="convertstring.toLowerCase" class="form-control"/>
    </div>
     <div class="col-md-12">
        <div class="well">
            <span>{{convertstring.LowerCase(convertstring.toLowerCase)}}</span>
             <span ng-click="convertstring.toLowerCase = ''" class="pull-right">Click here to Clear the input field</span>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <label>Alert</label>
        <button type="button" class="btn btn-default" ng-click="demo1()">Default</button>
        <button type="button" class="btn btn-primary" ng-click="demo2()">Primary</button>
        <button type="button" class="btn btn-success" ng-click="demo3()">Success</button>
        <button type="button" class="btn btn-info" ng-click="demo4()"> Info</button>
        <button type="button" class="btn btn-warning" ng-click="demo5()">Warning</button>
        <button type="button" class="btn btn-danger" ng-click="demo6()">Danger</button>
        <button type="button" class="btn btn-link" ng-click="demo7()">Link</button>
    </div>
  </div>
</div>

<a href="{{href}}">email me</a>